.cube {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 200px;

}

.side {
    height: 95px;
    position: absolute;
    text-align: center;

    width: 95px;
    background-color: antiquewhite;

}

/* .left {
    z-index: 3;
} */


.top {
    background: green;
    transform: rotate(-45deg) skew(15deg, 15deg);
}

.left {
    background: yellow;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.right {
    background: red;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}